.App-link {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to right,
    #f6d213,
    #e820b0,
    #39dfa3,
    #389aff,
    #5ce1e6
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-rainbow {
  background: linear-gradient(
    to right,
    #f6d213,
    #e820b0,
    #39dfa3,
    #389aff,
    #5ce1e6
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.background-layer {
  background-image: url(./asset/img/background3.png);
  background-size: cover;
  background-repeat: repeat-y;
  background-color: #00061b;
}

.button-light {
  --glow-color: rgb(92, 225, 230);
  --glow-spread-color: rgba(93, 211, 215, 0.781);
  --enhanced-glow-color: rgb(92, 225, 230);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 0.5em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.button-light::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.button-light:hover {
  color: #ffffff;
  background-color: var(--glow-color);
  box-shadow: 0 0 0.5em 0.25em var(--glow-color),
    0 0 6em 0.2em var(--glow-spread-color);
  // inset 0 0 .75em .25em var(--glow-color);
}

.button-light:active {
  box-shadow: 0 0 0.5em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.box-light-neon {
  --glow-color: rgb(92, 225, 230);
  --glow-spread-color: rgba(232, 32, 176, 0.781);
  --btn-color: rgb(100, 61, 136);
  // border: .25em solid var(--glow-color);
  // width: 1000px;
  // height: 2px;
  padding: 1em;
  outline: none;
  // box-shadow: 0 0 1em .25em var(--glow-color),
  //        0 0 4em 1em var(--glow-spread-color),
  //        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.box-light-neon::after {
  // pointer-events: none;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  // opacity: 0.7;
  transform: perspective(1.5em) scale(1, 0.6);
}
